body {
  padding-left: 11em;
  font-family: Arial, Helvetica, sans-serif; 
  color: #293220;
  background-color: #EBE2CA }
ul.main-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial, sans-serif }
ul.main-nav li {
  background: #A18D2B;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid #474A1F }
ul.main-nav a {
  text-decoration: none }
a:link {
  color: #6B863A }
a:visited {
  color: #A18D2B }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
footer {
    color: #69765C;
    font-size: small;
}
table, th, td {
  border-radius: 1px;
  border-color: #995D50;
  border-style: solid;
}