/*Body*/
html, body {
  height: 100%;        
  margin: 0;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Nav Bar*/
header {
  background-color: #4875d7;
  color: white;
  padding: 1rem 2rem;
}

.header_image{
  width: 17%;
  height: auto;
  padding:0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
}
/*.logo {
  font-size: xx-large;
  font-weight: bold;
  font-style: oblique;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
*/

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ba2037;
}

/* Poll Locator Styling */
.poll_locator{
  align-items: center;
  text-align: center;
}

/* How to Register Styling*/ 
.registration{
  align-items: center;
  text-align: center;
}
/* table styling*/
.registration_table{
  margin-left: auto;
  margin-right: auto;
  padding-top:0;
  padding-bottom: 0;
  border-spacing: .5rem;
  border-width: .1rem;
  border-collapse:seperate;
}

.table_image{
  width: 40%;
  height: auto;
}

/* button styling*/

.reg_button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  background-color: #4875d7;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.reg_button:hover {
  background-color: #ba2037;
}

.check_button {
  display: inline-block;
  padding: 12px 22px;
  background-color:#ba2037;
  color: white;
  text-decoration: none;
  border-radius: 10%;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.check_button:hover {
  background-color: #4875d7;
}

footer {
  background-color: #4875d7;
  color: white;
  padding: 1%;
  text-align: center;
  font-size: small;
}

.mail_instructions{
  align-items: center;
  text-align: center;
}
.mailing_table{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 25px;
  padding: 15px;
  border-width: 1px;
  border-collapse:seperate;
}
#bolded{
  font-weight: bold;
}
#italic{
  font-style:italic
}